<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="../script.js"></script>
  <link rel="stylesheet" href="../css/chat.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../css/bootstrap-4.4.1-dist/css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
  <script src="../css/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mainBox">
  <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %>
  </div>
</div>
  <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form>
</body>
</html>