<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
    <title>Chat Room | <%= roomName %></title>
    
    <!-- Css Files -->
    <link rel="stylesheet" href="../css/chat.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    <!-- Scripts -->
    <script>
      const roomName = "<%= roomName %>";
    </script>
    <script defer src="http://localhost/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>

  <!-- Body -->
  <body>
    <div class="mega-box container center-block">
      <div class="btnLeave">
      <button class="btn" onclick='location.href="index.ejs"'>Выйти</button>
    </div>
      <div id="message-container"></div>
        <form class="row form-container container" id="send-container">
          <input type="text" class="col-7 col-md-8 col-lg-9 inpu" id="message-input" />
          <button class="btn labelBtn col-4 col-md-3 col-lg-2" type="submit" id="send-button">Отправить</button>
        </form>
        </div>
    </div>
  </body>
</html>
